language: python
dist: xenial
cache:
  - pip
services:
  # Needed for matplotlib tests
  - xvfb

env:
  global:
    - SKIP_GENERATE_AUTHORS=1  # stop pbr from autogenerating AUTHORS.


before_install:
  - pip install --upgrade pip setuptools
install:
  - pip install --upgrade -r requirements.txt
  - pip install .[all]

before_script:
  - pip install --upgrade pytest coveralls
script:
  - coverage run --source symfit -m py.test
  - coverage report

after_success:
  - coveralls

jobs:
  fast_finish: true
  # allow_failures:
  #   - python: "3.5-dev"
  #   - python: "3.6-dev"
  #   - python: "3.7-dev"
  #   - python: "3.8-dev"  # 3.8-dev should not use coveralls.
  include: 
    - python: "3.5"
    - python: "3.6"
    - python: "3.7"
    - python: "2.7"

    - stage: docs
      python: "3.7"
      install:
        - pip install --upgrade sphinx
        - pip install --upgrade .[all]
      script: 
        - mkdir docs_build
        - sphinx-build -nW -b html docs docs_build

    - stage: deploy
      python: "3.7"
      before_script: skip
      script: skip
      deploy:
        provider: pypi
        # distributions: "sdist bdist_wheel"
        user: "tbuli"
        password:
          secure: nzvMJZxSUAT1Rc58P0f4Q3wOlf1LEMWxl2vmM5OuhQdNAl18D2VjVfAoz2o4KwBZEq65MZYuAzktfht28or5PCncZ6ZXOB+svkuhJ87MHsaIXnojG/srPS8BjWqlIecS4v40FBCxa5uleu2lNWWNG73AkKl3H4v8ypvR05z+dVfKZ4RsuKjrWkrKRdHOFxGo5qCkPxmakztKh4ww9/iKPT6MlGOy/QCq2Pr1R9R/tDOc+BNox4/OTZW9AVB9JkTx2aZNlBswPbDNQOfPD0En6Msq83sXgGv3HT/PGFQ58blKVxssogEdUsGbTgqMSXcpA/ic3aw8S9U3UKHLlu6MCfY6T4Q1gTQA2RsVvDkvDTEQDEgNx8BUI+t3T1tNJ/PgKlh4CMMtXminK4Ba87feOvYfNDgAw7LDa4Kph+tYxjHAoRfWgbs+7pq8waJ5OSPB75+tSs9vLMqJA5z1/s294K3pCEUsNyWgqAG8K/dXatJf+5kGEgSZyK4azS6gaBG1Dbq1aE0Zoy6PdKrW9l9Kkd5TU7gdKT4ora6l+EDvo0WqllvpKzS7VqRyAPY17nR7UidxzjvaNR6QXLKS/+Hinu60W45J5G9fAc7FpJQMrdHkYodQsXbAWELPSI3l5A3nTfbQ8rsqNcl9c50y1ijdx4AnDvWc4DzZAgjP2vKxpxs=
        # skip_cleanup: true
        on:
          branch: master
          tags: true
